/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* the only thing needed is a grainy/noisy background image */
    --glitter: url("/images/fire.png");
}

@font-face {
    font-family: Cute Cat;
    src: url('/fonts/CuteCat.otf') format('opentype');
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: #f9f2de;
    margin: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #fb273a;
    border-radius: 100vw;
    border: 3px solid #f9f2de;
}

body {
    font-family: "Cute Cat";
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #110602;
}

/* Estilo do cabeçalho */

header {
    background: #21211f;
    color: #f1f1f1;
    font-size: 1.75rem;
    padding: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 2rem;
    overflow: hidden; /* Impede o fogo de vazar */
}

header::before,
header::after {
    position: absolute;
    left: 0;
    right: 0;
    height: 40px; /* Reduz altura do fogo */
    content: "";
    background-image: var(--glitter), var(--glitter),
        linear-gradient(0deg, #fb273a 0px, #fb273a 45px, transparent 200%),
        radial-gradient(ellipse at bottom, transparent 100%, black 0%);
    box-shadow: inset 0 -15px 5px 0 #fb273a;
    filter: brightness(1) blur(10px) contrast(10);
    animation: fire 2s linear infinite;
    background-size: 150% 150px, 150% 150px, 150% 150%, 150% 150%;
    background-blend-mode: hard-light, color-dodge, multiply;
    background-repeat: repeat, repeat, repeat, no-repeat;
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

header::before {
    top: 0;
}

header::after {
    bottom: 0;
    box-shadow: inset 0 15px 5px 0px #fb273a;
}

@keyframes fire {
    0% {
        background-position: 0 0, 10px 0, 50% 100%, center center;
    }
    50% {
        background-position: 30px -80px, -10px -100px, 50% 95%, center center;
    }
    100% {
        background-position: 0 -150px, -5px -180px, 50% 100%, center center;
    }
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo_do_site {
    width: 90px;
    border: solid 3px #fb273a;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

header ul li {
    margin: 0;
}

header ul li a {
    text-decoration: none;
    color: #f1f1f1;
    transition: color 0.2s;
}

header ul li a:hover,
header ul li a:active {
    color: #a5a5a5;
}

/* Estilo das seções */
main {
    flex: 1;
    padding: 20px 0;
    background-color: #f9f2de;
}

main section {
    font-size: 1.25rem;
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    scroll-margin-top: 200px;
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* Seções que surgem da esquerda */
.from-left {
    transform: translateX(-100px);
}

/* Seções que surgem da direita */
.from-right {
    transform: translateX(100px);
}

section.animate {
    opacity: 1;
    transform: translateX(0);
}

/* Elementos internos da seção invisíveis */
.hidden {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Animação dos itens da seção aparecendo */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#inicio {
    background: #f0ecd9;
    border-top: 3px solid #e0ddcb;
    border-left: 3px solid #e0ddcb;
    border-right: 3px solid #e0ddcb;
}

#sobre_mim {
    background: #e0ddcb;
    border-left: 3px solid #cac7b7;
    border-right: 3px solid #cac7b7;
}

#projetos {
    background: #cac7b7;
    border-left: 3px solid #afad9f;
    border-right: 3px solid #afad9f;
}

#contato {
    background: #afad9f;
    border-left: 3px solid #97968a;
    border-right: 3px solid #97968a;
    border-bottom: 3px solid #97968a;
}

/* Início */
.inicio h1 {
    font-size: 2rem;
}

.inicio p {
    font-size: 1.5rem;
}

/* Sobre mim */
.sobre_mim_container {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre a imagem e o texto */
    text-align: left;
    justify-content: start; /* O texto fica à direita */
}

.imagem_desenvolvedor {
    width: 200px;
    height: auto;
    border: solid 3px #fb273a;
    border-radius: 15px;
}

.sobre_mim_texto {
    max-width: 600px;
}

/* Cartões de projeto */
.cards {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    white-space: nowrap;
}

.card {
    background-color: #fb273a;
    border: 4px solid #21211f;
    border-radius: 15px;
    padding: 10px;
    height: 200px;
    width: 250px;
    box-shadow: 5px 5px 10px #21211fce;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    margin: 10px;
    flex: 0 0 auto;
}

.card-front, .card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

.card img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.card p {
    white-space: initial;
}

/* Formulário */

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    text-align: left;
}

form input,
form textarea,
form button {
    padding: 10px;
    border: 2px solid #110602;
    border-radius: 7px;
    width: 100%;
}

form input,
form button { 
    margin-bottom: 15px;
}

form input,
form textarea {
    color: #110602;
    font-family: "Cute Cat";
}

form textarea {
    resize: vertical;
    margin-bottom: 5px;
}

form button {
    font-family: "Cute Cat";
    background-color: #110602;
    color: #f1f1f1;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color: #21211f;
}

/* Rodapé fixo */

footer {
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    background-color: #a30404;
    color: #f1f1f1;
    position: sticky;
    bottom: 0;
}

.redes_sociais img {
    height: 50px;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header .logo_do_site {
        width: 70px;
    }

    header nav {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    header ul {
        margin-top: 10px;
        gap: 10px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .card img {
        max-width: 20%;
    }

    main section {
        padding: 20px 10px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-size: 1.05rem;
    }

    p, label {
        font-size: 1.15rem;
    }

    form {
        max-width: 300px;
        padding: 0 10px;
    }

    .card {
        width: 90%;
    }
    
    .card img {
        max-width: 30%;
    }
}